/* -------------------------------------------------------------------------header */
*{
    box-sizing: border-box;
    
}
body{
    padding: 0;
    margin:0
}
.header__container{
    height: 96px;
    background-color: #FFFFFF;
    width: 100%;
    padding: 27px 30px;
}
.header__flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo--right{
    width: 222px;
    height: 41px;
}
.header__logo--right img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* =====================================================================================box 2 */
.mobino__container{
    background-image: url('./images/box2/banner.png');
    background-position-x: center ;
    background-position-y: bottom ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 562px;
    width: 100%;
    position: relative;
    margin-bottom: 160px;
}
.mobino__title{
    font-size: 32px;
    position: absolute;
    top: 118px;
    left: 50%;
    transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
}
.mobino__content__link{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
}
.mobino__flex{
    display: flex;
    align-items: center;
    /* padding: 190px 0 107px 0; */
    margin-left: -15px;
    margin-right: -15px;
}
.mobino__item__flex{
        width: 214px;
        cursor: pointer;
}
.mobino__item__conten{
    padding: 0 15px;
    position: relative;
}


.mobino__item__conten:hover .mobino__item--line{
    display: block;
}
.mobino__item--line{
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: #FFFFFF;
    top: -20px;
    left: 50%;
    transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    z-index: 2;
    display: none;
}
.mobino__box_img {
    width: 184px;
    height: 184px;
    margin-bottom: 8px;
}
.mobino__box_img img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

/* ===============================================================box 3 */
.pay__container{
    width: 967px;
    border-top: 1px solid #2263B9;
    position: relative;
    padding-top: 43px;
    margin:auto;
}
.pay__conten{
    width: 967px;
    border-top: 1px solid #2263B9;
    position: relative;
    padding-top: 43px;
    margin:auto;
}
.pay__container--second{
    padding: 200px 0 390px 0; 
    background-color: #F3F4F4;
}
.pay__icon__box__position{
    position: absolute;
    top: -105px;
    left: 50%;
    transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    width: 200px;
    background-color: #FFFFFF;
    height: 200px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.pay__icon__box__position img{
    width: 66px;
    height: 66px;
    margin:auto;
    display: block;
    margin-bottom: 28px;
}
.pay__text__icon{
    display: block;
    text-align: center;
}
.pay__banner{
    width: 761px;
    height: 276px;
    margin:auto;
    margin-bottom: 76px;

}
.pay__banner_3{
    width: 497px;
    height: 246px;
}
.pay__banner img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.pay__step{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: -18px;
    margin-left: -18px;
    width: 100%;
}
.pay__step__item__img{
    width: 50%;
    padding: 0 18px;
    margin-bottom: 56px;
    height: 203px;
    /* background-color: #F3F4F4; */

}
.pay__step__conten{
    background-position-y: top;
    background-position-x: center ;
    background-repeat: no-repeat;
    /* background-size: cover; */
    width: 100%;
    height: 100%;
    padding-top: 60px;
    padding-left: 16px;
    padding-left: 16px;
}
.pay__step__item__img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.pay__stype__name{
    color: #2D6DC1;
    font-size: 18px;
    text-align: center;
}